{% extends "base.html" %}
{% block body %}
<div class="page-nav">
{% if page >= 2 %}
<a class="back-nav" href="/blog?page={{ page - 1 }}"> &lt;&lt; previous </a>
{% endif %}
{% if page < tpages %}
<a class="next-nav" href="/blog?page={{ page + 1 }}"> next &gt;&gt;</a>
{% endif %}
</div>

<form>
		{% for post in posts %}
		<div class="entry">
			<div class="ptitle"><a href="/blog/{{ post.key().id() }}">{{ post.title }}</a></div>
			<div class="pcontent">{{ post.content }}</div>
		</div>
		<hr>
		{% endfor %}
</form>

<div style="text-align: right; margin-right:4px;">page: {{page}} of: {{tpages}}</div>
{% endblock %}