{% extends "base.html" %}
{% block body %}

{% if page >= 2 %}
<a href="/blog?page={{ page - 1 }}"> &lt;&lt; previous </a> |
{% endif %}
{% if page < tpages %}
<a href="/blog?page={{ page + 1 }}"> next &gt;&gt;</a>
{% endif %}

<form>
	<table class="posts">
		{% for post in posts %}
		<div class="entry">
			<div class="ptitle"><a href="/blog/{{ post.key().id() }}">{{ post.title }}</a></div>
			<div class="pcontent">{{ post.content }}</div>
		</div>
		<hr>
		{% endfor %}
	</table>
</form>

<div style="text-align: right; margin-right:4px;">page: {{page}} of: {{tpages}}</div>
{% endblock %}